@import url("https://fonts.googleapis.com/css?family=Poppins");
/***************
VARIABLES
****************/
/****************
GLOBAL
*****************/
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

/****************
WRAPPER
*****************/
#wrapper {
  min-width: 1000px;
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 15px gray;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

/*************
HEADER & NAV
**************/
header {
  height: 600px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://cdn.guidingtech.com/media/assets/Best-Avengers-Endgame-Avengers-4-Wallpapers-for-Desktop-and-Mobile-1.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
header nav {
  padding: .40em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 4.8em;
  height: 4.8em;
  cursor: pointer;
}
header nav .nav {
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
}
header nav .nav li {
  font-size: .90em;
  padding: 0 1em;
  cursor: pointer;
  transition: color .25s ease;
}
header nav .nav li:hover {
  color: #dcbe00;
}
header nav .nav .active {
  color: #dcbe00;
}
header nav .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}
header nav .user .user-settings {
  color: #cccccc;
  cursor: pointer;
}
header nav .user .user-settings:hover {
  color: #737373;
}
header nav .user .user-icon {
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}
header .movie-info {
  margin-top: auto;
  margin-bottom: auto;
  text-transform: uppercase;
  color: white;
  width: 400px;
  margin-left: 10em;
}
header .movie-info h1 {
  font-size: 3.8em;
  line-height: 1.2;
}
header .movie-info .genre {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5em;
}
header .movie-info .genre li {
  padding-right: .90em;
  padding-left: .80em;
  font-size: .75em;
}
header .movie-info button {
  cursor: pointer;
  border: 0;
  padding: 1em 1.5em;
  border-radius: 20px;
  background: #dcbe00;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .75em;
  margin-bottom: 8.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .movie-info button .fa-play-circle-o {
  font-size: 1.7em;
  margin-left: .50em;
}
header .movie-info h3, header .movie-info h4 {
  font-weight: 200;
}
header .movie-info h3 {
  text-transform: initial;
}
header .movie-info h4 {
  color: #dcbe00;
}



/**********************
    MAIN (MOVIES)
***********************/
main {
  width: 800px;
  background: whitesmoke;
  margin: auto;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1.5em 2em;
}
main .options {
  display: flex;
  text-align: center;
  text-transform: uppercase;
}
main .options .active {
  color: #dcbe00;
  border-bottom: solid 2px #dcbe00;
}
main .options li {
  flex: 1;
  padding-bottom: 1em;
  border-bottom: solid 1px lightgray;
  font-weight: 600;
  font-size: .80em;
  color: #737373;
  cursor: pointer;
}
main .options li:hover {
  color: #dcbe00;
  border-bottom-color: #dcbe00;
  border-bottom-width: 2px;
}
main #movies {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main #movies figure {
  background-color: white;
  width: 14em;
  margin: .50em;
  box-shadow: 0 5px 15px gray;
  overflow: hidden;
  position: relative;
}
main #movies figure img {
  height: 21em;
}
main #movies figure figcaption {
  line-height: 2;
  padding: 0 .80em;
  height: 90px;
}
main #movies figure figcaption h5 {
  text-transform: uppercase;
  font-weight: 600;
  color: #737373;
}
main #movies figure figcaption p {
  text-transform: capitalize;
  font-size: .70em;
  font-weight: 600;
  color: #dcbe00;
}
main #movies figure figcaption .rating {
  display: flex;
  align-items: center;
}
main #movies figure figcaption .rating .fa-heart {
  color: #fa5050;
  margin: .50em .50em .50em 0;
}
main #movies figure figcaption button {
  border: 0;
  font-size: 17px;
  cursor: pointer;
  color: #dcbe00;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
}
.clearfix,

/*****************
  MAIN (LOGIN)
*****************/  
.login{
  margin: 0;
  padding: 0;
  background: url("/img/background.jpg");
  background-size:  cover;
  background-position: center;
  font-family: sans-serif;
}
.loginbox{
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;

}
.avatar{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: calc(50% - 50%);
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox input{
  width: 100%;
  margin-bottom: 20px; 
}

.loginbox input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 16px;
}

.loginbox input [type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #dcbe00;
  color: #000;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #dcbe00;
  color: #000;
}

.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover{
  color: #dcbe00;
}

/*************
MAIN SIGNUP
*************/
.signupbox {
  width: 320px;
  height: 600px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

/*************
MAIN MOVIE DETAILS
*************/
.page-heading {
  padding-left: 30px;
  margin-top: 56px;
  margin-bottom: 27px;
  font: 20px 'aleobold', sans-serif;
  color: #4c4145;
  text-transform: uppercase;
  background-image: url(../images/components/scarf.png);
  -webkit-background-size: 21px 6px;
  background-size: 21px 6px;
  background-position: left center;
  background-repeat: no-repeat;
}
.movie .movie__info {
  margin-left: -15px;
  margin-right: -15px;
}
.movie .movie__images {
  position: relative;
  border: 3px solid #ffd564;
  width: 100%;
  height: 80%;
}
.movie .movie__images img {
  max-width: 100%;
  max-height: 100%;
}
.movie .movie__title {
  display: inline-block;
  margin-bottom: -6px;
  max-width: 330px;
}
.movie .movie__rate {
  position: relative;
  padding: 18px 18px 19px;
  border: 2px solid #ffd564;
  border-top: none;
  width: 100%;
  height: 20%;
  font: 16px 'aleoregular', sans-serif;
  color: #4c4145;
}
.movie .movie__rate .score {
  display: inline-block;
  padding-left: 15px;
}
.movie .movie__rate .movie__rate-number {
  font: 11px 'Roboto', sans-serif;
  display: block;
}
.movie .movie__rating {
  width: 47px;
  height: 47px;
  padding-top: 10px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  background-color: #ffd564;
  border: solid 3px #fff;
  font: 16px 'Roboto', sans-serif;
  color: #4c4145;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 6px;
  left: 6px;
}
.movie .movie__time {
  position: relative;
  font-size: 13px;
  color: #fe505a;
  margin-bottom: 20px;
  padding-left: 20px;
}
.movie .movie__time:before {
  content: "\f017";
  font: 16px "FontAwesome";
  color: #fe505a;
  position: absolute;
  top: 6px;
  left: 0;
}
.movie .movie__option {
  font-size: 13px;
  margin-bottom: 3px;
}
.movie .comment-link {
  position: relative;
  display: inline-block;
  font: 16px 'aleoregular', sans-serif;
  color: #fe505a;
  margin-top: 30px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.movie .comment-link:after {
  content: '';
  background-image: url('../images/components/wave-danger.svg');
  -webkit-background-size: 40px 4px;
  background-size: 40px 4px;
  background-repeat: repeat-x;
  width: 100%;
  height: 4px;
  position: absolute;
  right: 0;
  bottom: -2px;
}
.movie .comment-link:hover {
  color: #4c4145;
}
.movie .comment-link:hover:after {
  background-image: url('../images/components/wave-main.svg');
}
.movie .movie__btns {
  position: absolute;
  right: 0;
  top: 0;
}
.movie .movie__btns .btn {
  display: block;
}
.movie .movie__btns .watchlist {
  float: right;
  margin-top: 20px;
}
.movie .movie__describe {
  font-size: 13px;
}
.movie .movie__media {
  padding: 20px 5px;
  position: relative;
  width: 100%;
  height: 162px;
  background-image: url(../images/components/bg-movie.png);
  background-repeat: repeat-x;
}
.movie .movie__media .swiper-iner {
  max-height: 120px;
}
.movie .movie__media .movie__media-switch {
  position: absolute;
  top: -48px;
  right: 0;
}
.movie .movie__media .list--photo {
  margin-right: -3px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  padding-left: 41px;
  padding-right: 21px;
}
.movie .movie__media .list--photo:before {
  content: "\f030";
  font-size: 13px;
  top: 5px;
  left: 21px;
}
.movie .movie__media .list--video {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  padding-left: 41px;
  padding-right: 21px;
}
.movie .movie__media .list--video:before {
  content: "\f03d";
  font-size: 13px;
  top: 5px;
  left: 21px;
}
.movie .movie__media .movie__media-item {
  padding: 0 5px;
  display: block;
}

.rates {
  background-color: #f5f5f5;
  border-bottom: 2px solid #ffffff;
}
.rates .rates__obj {
  padding-left: 20px;
}
.rates .rates__obj * {
  font-size: 16px;
}
.rates .rates__obj .rates__obj-name {
  position: relative;
  display: block;
  padding: 25px 0;
}
.rates .rates__obj .rates__obj-name:before {
  background-color: #FFFFFF;
  content: "";
  height: 25px;
  right: 0;
  position: absolute;
  top: 0;
  width: 2px;
}
.rates .rates__obj .rates__obj-name:after {
  background-color: #FFFFFF;
  bottom: 0;
  content: "";
  height: 25px;
  right: 0;
  position: absolute;
  width: 2px;
}
.rates .rates__vote {
  text-align: center;
  font-size: 13px;
}
.rates .rates__result {
  text-align: center;
  font: 20px 'aleobold', sans-serif;
  background-color: #ffd564;
}
.rates .rates__stars .score {
  margin-left: 50px;
}
.rates .rates__stars .score img {
  width: 15px;
}
.rates .rates__done {
  font-size: 13px;
  color: #4c4145;
  margin-left: -17px;
}
.rates:first-of-type .rates__obj-name:before {
  display: none;
}
.rates:last-of-type .rates__obj-name:after {
  display: none;
}
.rates--top {
  background-color: #fff0c7;
}
.rates--top .rates__obj-name {
  font-weight: bold;
}
.comment-form {
  margin-bottom: 40px;
}
.comment-form .comment-form__text {
  width: 100%;
  min-height: 78px;
  padding: 8px 19px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #dbdee1;
  font-size: 13px;
  color: #b4b1b2;
}
.comment-form .comment-form__info {
  margin-top: 19px;
  font: 13px 'Roboto', sans-serif;
  color: #969b9f;
  display: inline-block;
}
.comment-form .comment-form__btn {
  float: right;
  margin-top: 9px;
}
.comment {
  position: relative;
  border-top: 1px solid #f5f5f5;
  padding-top: 30px;
}
.comment .comment__images {
  float: left;
  margin-right: 18px;
}
.comment .comment__author {
  padding-top: 6px;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 20px;
  font-weight: bold;
  position: relative;
  padding-left: 23px;
  overflow: hidden;
}
.comment .comment__date {
  font-size: 13px;
  margin-bottom: 0;
  color: #969b9f;
  line-height: 20px;
}
.comment .comment__message {
  clear: both;
  font-size: 13px;
  line-height: 21px;
  margin-top: 7px;
}
.comment .comment__reply {
  position: absolute;
  top: 43px;
  right: 0;
  font-size: 14px;
  color: #fe505a;
}
.comment .comment__reply:before {
  content: "\f112";
  font-size: 14px;
  color: #fe505a;
  font-family: "FontAwesome";
  margin-right: 10px;
}
.comment .comment__reply:hover,
.comment .comment__reply:hover:before {
  opacity: 0.7;
}
.comment--last {
  border-bottom: 1px solid #f5f5f5;
}

	

/************
LOADING ICON
************/
.loading {
  background-color: #dcbe00;
  color: white;
  font-size: 1.3em;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2em auto;
}

/************
FOOTER
************/
footer {
  display: flex;
  flex-direction: column;
  background-color: white;
}
footer div {
  display: flex;
  align-items: center;
  padding: 1em;
  color: silver;
}
footer div h3 {
  flex: 1;
}
footer div .social-links i {
  padding: 0 .80em;
  font-size: 1.3em;
  cursor: pointer;
}
footer div .social-links i:hover {
  color: #5a5a5a;
}
footer div p {
  text-transform: uppercase;
  font-size: .90em;
  text-align: right;
  flex: 1;
}
footer a {
  text-decoration: none;
  color: #dcbe00;
  text-transform: uppercase;
  font-size: .70em;
  border-top: solid 1px #f3f3f3;
  text-align: center;
  padding: .50em;
}

/********************
RANGE & SEARCH INPUT
*********************/
#forms {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
#forms .buttons {
  margin-right: 10px;
  align-self: flex-end;
}
#forms .buttons .fa-navicon, #forms .buttons .fa-th {
  padding: 8px;
  color: lightgray;
  font-size: 18px;
}

#range-form {
  flex: 1;
  margin-right: 5px;
}
#range-form p {
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  color: #4d4d4d;
}
#range-form .group {
  display: flex;
  align-items: center;
}
#range-form .group #range {
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
#range-form .group #range::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #dcbe00;
  position: absolute;
  z-index: -1;
}
#range-form .group #results {
  width: 28px;
  text-align: center;
  font-size: 13px;
  padding: 2px 4px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 2px 5px 1px lightgray;
}

::-webkit-input-placeholder {
  color: lightgray;
  font-style: italic;
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  color: lightgray;
  font-style: italic;
  letter-spacing: 1px;
}

::-ms-input-placeholder {
  color: lightgray;
  font-style: italic;
  letter-spacing: 1px;
}

::placeholder {
  color: lightgray;
  font-style: italic;
  letter-spacing: 1px;
}

#search-form {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}
#search-form #search {
  width: 100%;
  background: none;
  border: none;
  border-bottom: solid 2px lightgray;
  padding: 5px 20px 5px 10px;
  color: gray;
  transition: border-bottom-color .3s;
}
#search-form #search:focus {
  outline: none;
  border-bottom-color: #dcbe00;
}
#search-form .fa-search {
  color: lightgray;
  position: absolute;
  right: 0;
  padding-right: 8px;
  transform: rotate(95deg);
  -webkit-transform: rotate(95deg);
  -ms-transform: rotate(95deg);
  padding: 0;
}

/*
CUSTOM SLIDER
*/
#forms #range-form .group #range {
  -webkit-appearance: none;
  outline: none;
  background: #dcbe00;
  height: 3px;
  border-radius: 5px;
}
#forms #range-form .group #range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #dcbe00;
}

/* Chrome */
#range::-moz-range-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #dcbe00;
  cursor: pointer;
}

#range::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #dcbe00;
  border-radius: 5px;
}
